body {
    background-color: white;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}

.headline {
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 0px;
    width: 518px;
    height: 108px;
}

.headline__secondary {
    font-size: 36px;
}

header {
    position: sticky;
    height: 78px;
    width: 1400px;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    justify-self: right;
    text-box: var(350px, 28px);
    line-height: 28px;
    align-items: self-end;
    text-align: left;
}

.section1 {
    display: flex;
    flex-direction: row;
}